{% extends "base.html" %}

{% block content %}

<h1>Log in to Blogz</h1>

<p>If you don't have an account, you may <a href="/signup">signup</a> for one</p>

<form action="/login" method="POST">
   <div class='entry'>
        <label for="username">Username</label>
        <input name="username" type="text" value="{{ username }}">
        <div class='error'>{{ error }} </div>
    
        <label for="password">Password</label>
        <input name="password" type="password">
        <div>
        <input type="submit" value="Login">
        </div>
    </div>
</form>


{% endblock %}